<% if user_signed_in? %>
	<% @todo_lists.each do |todo_list| %>
		<div class="index_row clearfix">
			<h2 class="work-task--top-panel_title"><%= link_to todo_list.title, todo_list %></h2>
			<div class="top-panel_buttons">
				<%= link_to image_tag("https://github.com/my-codefactory/prettychecklist/blob/main/app/assets/images/main-panel-pencil.png?raw=true"), edit_todo_list_path(todo_list) %>
				<%= link_to image_tag("https://github.com/my-codefactory/prettychecklist/blob/main/app/assets/images/main-panel-trash.png?raw=true"), todo_list_path(todo_list), method: :delete, data:{ confirm: "Are you sure?" } %>
			</div>
		</div>
		<div class="work-task--input-field" id="list">
		<%= form_for([todo_list, todo_list.todo_items.build]) do |f| %>
				<%= f.text_field :content, placeholder: "New TODO" %>
				<%= f.submit %>
			<% end %>
		</div>
		<div class="work-task--list">
<<<<<<< HEAD
				<div class="work-task--list__wrapper first-column">
				</div>
=======
			<div class="work-task--list__wrapper first-column">
				<%= render partial: "todo_item", locals: {todo_list: todo_list} %>
			</div>
>>>>>>> 961749ae0f19b558588adc7cf97a3eb125c58079
		</div>
	<% end %>
	<div class="main-button-wrapper">
		<button id="main-button"><%= link_to "Add TODO List", new_todo_list_path %>
	</div>
	<% else %>
	<%= render 'layouts/static_home_page' %>
<% end %>

<script>

	
$(function() {		
	$(".work-task--list__wrapper").sortable();
});

</script>
