<!DOCTYPE html>
<html>
  <head>
    <title>Todo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/jquery-ui.min.js"></script>
	<script src="http://cdn.jsdelivr.net/jquery.cookie/1.3.1/jquery.cookie.js"></script>

  </head>

  <body>

	<div class="content-indents">
		<div class="application-wrapper">
			<div class="page-title_wrapper">
				<h1>Simple todo lists</h1>
				<span class="page-title--subtext">from ruby garage</span>
			</div>
	   
		  <div class="container">
			<%= yield %>
		  </div>
	  
	  </div>
	 </div>
	 <footer class="footer"><p class="copyright">© Ruby Garage</p></footer>
  </body>
</html>

<script>

	
	var i = 0;
	$(".work-task--input-field").each(function() {
		i++;
		$.get("https://gentle-waters-69865.herokuapp.com/todo_lists/" + i, data => {		
			var content = $("#form", data).html();		
			$(this).html(content);		
		});
	});

var k = 0;
	$(".work-task--list__wrapper").each(function() {
		k++;
		$.get("https://gentle-waters-69865.herokuapp.com/todo_lists/" + k, data => {
			var content = $(".items-main", data).html();		
			$(this).html(content);
		});
	});

	
$(function() {		
	$(".work-task--list__wrapper").sortable();
});


</script>
