<!DOCTYPE html>
<html>
  <head>
    <title>Todo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/jquery-ui.min.js"></script>
	<script src="http://cdn.jsdelivr.net/jquery.cookie/1.3.1/jquery.cookie.js"></script>

  </head>

  <body>
  		<nav class="main-menu">
			<ul>
				<li><%= link_to "TodoList", root_path %></li>
				<li><%= link_to "Sign Up", new_user_registration_path %></li>
				<% if current_user.present? %>
				<li><%= link_to "Sing Out", destroy_user_session_path, method: :delete %></li>
				<% else %>
				<li><%= link_to "Log In", new_user_session_path %></li>
				<% end %>
				<% if user_signed_in? %>
				<li><%= link_to "New ToDo", new_todo_list_path, class: "new-todo" %></li>
				<% end %>
			</ul>
		</nav>

	<div class="content-indents">
		<div class="application-wrapper">
				
			<div class="page-title_wrapper">
				<h1>Simple todo lists</h1>
				<!--<span class="page-title--subtext">from ruby garage</span>-->
			</div>
			
		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>
		
		  <div class="container">
			<%= yield %>
		  </div>
	  
		</div>
	</div>
	 
	 <!--<footer class="footer"><p class="copyright">© Ruby Garage</p></footer>-->
  </body>
</html>