<!DOCTYPE html>
<html>
  <head>
    <title>Todo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
  </head>

  <body>
	<div class="content-indents">
		<div class="application-wrapper">
			<div class="page-title_wrapper">
				<h1>Simple todo lists</h1>
				<span class="page-title--subtext">from ruby garage</span>
			</div>
	   
		  <div class="container">
			<%= yield %>
		  </div>
	  
	  </div>
	 </div>
	 <footer class="footer"><p class="copyright">© Ruby Garage</p></footer>
  </body>
</html>
